@media screen and (min-width:230px) and (max-width:550px){

    #nosotros{
        height: 500px;
        display: flex;
        flex-direction: column;
    }
    .nosotrosContainer{
        width:80%;
    }
    .sectionContainer{
        width: 90%;
    }
    .mainText{
        font-size: 26px;
    }

    .footerListContainer{
        display: none;
    }
    .footerTextContainer{
        width: 100%;
    }
    .footerList{
        display: none;
    }
    .contactSubtitle {
        margin-top: 20px;
        margin-left: 20px;
        font-size: 30px;
    }

    .formSection{
        padding: 20px;
    }
}